.galleryContainer :global(.image-gallery),
.galleryContainer :global(.image-gallery-slide-wrapper) {
  width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}

.galleryContainer :global(.image-gallery-slide img) {
  width: 100vw !important;
  height: auto !important;
  object-fit: cover;
  margin: 0;
  padding: 0;
  display: block;
}

.separator {
  width: 100%;
  display: block;
}

.description {
  display: flex;
  background-color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
}

.service_description {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px;
  line-height: 230%;
}

.service_title_description {
  font-family: "Cormorant Garamond", serif;
  font-size: 55px;
  color: #000000;
  font-weight: bold;
}

.service_text_description {
  font-family: "Cormorant Garamond", serif;
  font-size: 35px;
  color: #000000;
  font-weight: 400;
  max-width: 500px;
  text-align: justify;

}

.description_img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.description_img_main {
  width: 50%;
  height: auto;
  border-radius: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imageFooter {
  width: 101%;
  height: 211px;
  object-fit: cover;
  margin: -4px;
}

@media (max-width: 1024px) {
  .description {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .service_description {
    padding: 20px;
  }

  .service_title_description {
    font-size: 36px;
    text-align: center;
  }

  .service_text_description {
    font-size: 20px;
    max-width: 100%;
    text-align: justify;
  }

  .description_img_main {
    width: 80%;
    margin: 20px 0;
  }
}

@media (max-width: 768px) {
  .imageFooter {
    height: 150px;
  }
}