.image_main {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.separator {
    width: 100%;
    display: block;
}

.description {
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.service_description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
    padding-top: 0px;
    line-height: 230%;
}

.service_title_description {
    font-family: "Cormorant Garamond", serif;
    font-size: 55px;
    color: #000000;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 100%;
}

.service_text_description {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    color: #000000;
    font-weight: 400;
    text-align: justify;
}

.description_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.description_img_main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .description {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .service_description {
        padding: 20px 0;
    }

    .service_title_description {
        font-size: 36px;
        text-align: center;
    }

    .service_text_description {
        font-size: 20px;
    }
}